<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/dataBase">Back DataBase</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h2>Sintax</h2>
    </div>
    <div class="col-xs-12 picture">
      <h3>Html File</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/02_route_basic_basicmoduleHTML.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>Father.html</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/02_route_basic_basicmodule.png" alt="Arquivo Html">
      </div>
    </div>
    <div class="col-xs-12 picture">
      <h3>Routes Module</h3>
      <div class="image">
        <img src="./../../../assets/img-routes/02_route_basic_appmodule.png" alt="Arquivo Html">
      </div>
    </div>
  </div>
</div>

