<div class="main-div">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="sintax" >Sintax</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create">Create DB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="query">Query</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="sqlJoin">SQL Joins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="sqlStorage">SQL Stored Procedures</a>
      </li>
    </ul>
  
    <div class="container">
      <main>
        <div class="row">
          <div class="col-xs-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-light" routerLink="/body">Back Home</button>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 image">
            <h2>Everything you need to know about the DataBase - PL/SQL
            </h2>
          </div>
          <div class="col-xs-12">
            <div class="image">
              <img src="./../../assets/img-dataBase/database.jpg" alt="Arquivo Html">
            </div>
          </div>
  
        </div>
  
      </main>
    </div>
  </div>
  