<div class="main">
  <header>
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">E-Book from Reinaldo</span>

          </div>
        </nav>

      </div>
    </div>
  </header>
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>

  <body>
    <div class="row">
      <div class="col">
        <!-- <app-body></app-body> -->
        <router-outlet></router-outlet>


      </div>

    </div>
  </body>


  <div class="row">
    <div class="col">
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </div>
</div>
