<div class="header">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/">E-Book to BackEnd in C#</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item"><a class="nav-link" routerLink="/cSharp">C#</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/dataBase">DataBase</a></li> -->
          <li class="nav-item" *ngIf="!isAuthenticated else yesIsLoginLink"></li>
          <ng-template #yesIsLoginLink>
            <li class="nav-item"><a class="nav-link" routerLink="/cSharp">C#</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/dataBase">DataBase</a></li>

          </ng-template>
        </ul>
      </div>


      <div>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/auth" routerLinkActive="active"
              *ngIf="!isAuthenticated else yesIsLogin">Authentication</a></li>
          <ng-template #yesIsLogin>
            <li class="nav-item logout"><a class="nav-link" (click)="logOut()">LogOut</a></li>
          </ng-template>

        </ul>

      </div>
    </div>
  </nav>

</div>

