<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="token" >Token</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="http-post">Http Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="http-get">Http Get</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="http-delete">Http Delete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="http-put">Http Put</a>
  </li>
</ul>


